body{
color: lavender;
background: []white;
 margin: 0px;
 font-family:"Open Sans";
 margin-bottom: 100px;
}

header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: goldenrod;
}

section{

    background: firebrick;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1 {
font-size: 40px;
}
p {
  font-size: 20px;
}
img {
    height: 100px;
}